In [1]:
import pandas as pd

## qstn1

In [3]:
curexch={'1 SGD':'64.05 INR','1 JPY':'0.57 INR','1 BDT':'0.70 INR','1 CNY':'11.74 INR','1 HKD':'10.76 INR','1 IDR':'0.005 INR','1 KHR':'0.020 INR','1 KRW':'0.062 INR','1 LAK':'0.003 INR','1 LKR':'0.28 INR'}

In [5]:
curexch

{'1 SGD': '64.05 INR',
 '1 JPY': '0.57 INR',
 '1 BDT': '0.70 INR',
 '1 CNY': '11.74 INR',
 '1 HKD': '10.76 INR',
 '1 IDR': '0.005 INR',
 '1 KHR': '0.020 INR',
 '1 KRW': '0.062 INR',
 '1 LAK': '0.003 INR',
 '1 LKR': '0.28 INR'}

## qstn2

In [9]:
football={'Ronaldo':['07','Al-nassr'],'Messi':['10','Inter Miami'],'Neymar':['10','Al Hilal']}

In [11]:
football

{'Ronaldo': ['07', 'Al-nassr'],
 'Messi': ['10', 'Inter Miami'],
 'Neymar': ['10', 'Al Hilal']}

In [21]:
f=pd.DataFrame(football,index=['jersey number','club'])

In [23]:
f

                Ronaldo        Messi    Neymar
jersey number        07           10        10
club           Al-nassr  Inter Miami  Al Hilal

## qstn3

In [52]:
c={'India':'$3.937 trillion','United States':"$28.78 trillion","China":"$18.53 trillion","Germany":"$4.59 trillion","Japan":"$4.11 trillion","United Kingdom":"$3.5 trillion","France":"$3.13 trillion","Brazil":"$2.33trillion","Italy":"$2.32trillion","Canada":"$2.24trillion"}

In [54]:
c

{'India': '$3.937 trillion',
 'United States': '$28.78 trillion',
 'China': '$18.53 trillion',
 'Germany': '$4.59 trillion',
 'Japan': '$4.11 trillion',
 'United Kingdom': '$3.5 trillion',
 'France': '$3.13 trillion',
 'Brazil': '$2.33trillion',
 'Italy': '$2.32trillion',
 'Canada': '$2.24trillion'}

In [65]:
gdp=pd.DataFrame(c,index=['GDP'])

In [67]:
gdp

,India,United States,China,Germany,Japan,United Kingdom,France,Brazil,Italy,Canada
GDP,$3.937 trillion,$28.78 trillion,$18.53 trillion,$4.59 trillion,$4.11 trillion,$3.5 trillion,$3.13 trillion,$2.33trillion,$2.32trillion,$2.24trillion

In [85]:
highest=gdp.iloc[0,1]

In [87]:
highest

'$28.78 trillion'

In [89]:
lowest=gdp.iloc[0,9]

In [101]:
lowest

'$2.24trillion'

In [117]:
below ave=gdp.iloc[[0],0,5,6,7,8,9]

SyntaxError: invalid syntax (3036309058.py, line 1)

In [119]:
average

Empty DataFrame
Columns: [India, United States, China, Germany, Japan, United Kingdom, France, Brazil, Italy, Canada]
Index: []